ol {
	list-style-image: url('https://raw.githubusercontent.com/UMSIComplexWebDesign/discussions/master/html_practice/imgs/tinyM.png')
}

h1 {
	color: red;
	text-align: center;
}

h2 {
	color: blue;
	text-shadow: 5px 5px 2px #808080
}
