ol {
	list-style-image: url('https://github.com/mollyheller/discussions/blob/master/discussion2/tinyM.png?raw=true')
}

h1 {
	color: red;
	text-align: center;
}

h2 {
	color: blue;
	text-shadow: 5px 5px 2px #808080
}
